[submodule "config/tmux/plugins/tpm"]
	path = config/tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "config/nushell/nu_scripts"]
	path = config/nushell/nu_scripts
	url = https://github.com/nushell/nu_scripts.git
